<h1 align='center'> Summary of Narratives for Selected Image</h1>

<div class='narrimage'>
   <img src='<%= @imageURL %>'>
</div>


    <% @narr4image.each do |f| %>
    <div id="examples">
        <strong><%= f[:title] %></strong></br>
        <%= f[:story] %></br></br>
        by: <em><%= f[:name] %></em></br>

     </div>
     </br>
    <% end %>


<a href="/narratives/new?imgID= <%= @image.id %>" name="narrative" class="postButton">Post Caption</a>