

  <div class='row'>
    <div class='large-12 columns'>
     <h2>Captions for this image</h2>
    </div>
  </div>

  <div class='row'>
    <div class='large-4 small-12 columns'>
     <img src='<%= @imageURL %>'>
     <br/>
     <h4><a href="/narratives/new?imgID= <%= @image.id %>" name="narrative" class="postButton">Post a caption</a></h4>
     <p><a href="/">Or click here to return to image gallery</a></p>
    </div>

    <div class="large-8 small-12 columns">

        <% @narr4image.each do |f| %>
          <div id="examples">
              <strong><%= f[:title] %></strong></br>
              <%= f[:story] %></br></br>
              by: <em><%= f[:name] %></em></br>
          </div>
          <br/>
        <% end %>
    </div>



